.home-btn-img {
  width: 25px;
}

.home-btn {
  border: none;
  background-color: transparent;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: red;
}

h1 {
  margin: 10px;
}
