.poster {
  box-sizing: border-box;
  padding: 10px;
}

.poster-image {
  width: 100%;
  border-radius: 8px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.poster-title {
  font-size: 20px;
  font-weight: bold;
}

p {
  margin: 5px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.poster-image-container:hover .poster-image {
  opacity: 0.3;
}

.poster-image-container:hover .middle {
  opacity: 1;
}

.see-details-btn {
  background-color: #B00D07;
  color: white;
  font-size: 12px;
  width: 100px;
  border: none;
}

.poster-image-container {
  position: relative;
  width: 50%;
}